# Part 1 of the cyclistic capstone project
## Step 1 prepare the data

In [24]:
# import the libraries that we'll need
import numpy as np
import pandas as pd
import datetime
import os
from datetime import datetime

In [4]:
# load the data
Nov_2020 = pd.read_csv('November_20.csv')
Dec_2020 = pd.read_csv('December_20.csv')
Jan_2021 = pd.read_csv('January_21.csv')
Feb_2021 = pd.read_csv('February_21.csv')
Mar_2021 = pd.read_csv('March_21.csv')
Apr_2021 = pd.read_csv('April_21.csv')
May_2021 = pd.read_csv('May_21.csv')
Jun_2021 = pd.read_csv('June_21.csv')
Jul_2021 = pd.read_csv('July_21.csv')
Aug_2021 = pd.read_csv('August_21.csv')
Sep_2021 = pd.read_csv('September_21.csv')
Oct_2021 = pd.read_csv('October_21.csv')

In [7]:
# look at the summary of the data and investigate the datatypes
Nov_2020.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

## Step 2 process the data

In [8]:
# inspect the data frames to ensures that the data types match
Nov_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388653 entries, 0 to 388652
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             388653 non-null  object
 1   rideable_type       388653 non-null  object
 2   started_at          388653 non-null  object
 3   ended_at            388653 non-null  object
 4   start_station_name  357455 non-null  object
 5   start_station_id    357248 non-null  float64
 6   end_station_name    353022 non-null  object
 7   end_station_id      352866 non-null  float64
 8   start_lat           388653 non-null  float64
 9   start_lng           388653 non-null  float64
 10  end_lat             388179 non-null  float64
 11  end_lng             388179 non-null  float64
 12  member_casual       388653 non-null  object
dtypes: float64(6), object(7)
memory usage: 38.5+ MB

In [8]:
Nov_2020

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,ACB6B40CF5B9044C,electric_bike,2020-10-31 19:39:43,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313.0,Rush St & Hubbard St,125.0,41.926101,-87.638977,41.890345,-87.626068,casual
1,DF450C72FD109C01,electric_bike,2020-10-31 23:50:08,2020-11-01 00:04:16,Southport Ave & Waveland Ave,227.0,Kedzie Ave & Milwaukee Ave,260.0,41.948172,-87.663911,41.929528,-87.707818,casual
2,B6396B54A15AC0DF,electric_bike,2020-10-31 23:00:01,2020-10-31 23:08:22,Stony Island Ave & 67th St,102.0,University Ave & 57th St,423.0,41.773462,-87.585372,41.791455,-87.600050,casual
3,44A4AEE261B9E854,electric_bike,2020-10-31 22:16:43,2020-10-31 22:19:35,Clark St & Grace St,165.0,Broadway & Sheridan Rd,256.0,41.950855,-87.659244,41.952809,-87.650103,casual
4,10B7DD76A6A2EB95,electric_bike,2020-10-31 19:38:19,2020-10-31 19:54:32,Southport Ave & Wrightwood Ave,190.0,Stave St & Armitage Ave,185.0,41.928857,-87.663962,41.917777,-87.691434,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
388648,73F13E3E24954C57,docked_bike,2020-10-28 08:31:24,2020-10-28 08:37:50,Leavitt St & Division St,658.0,Wood St & Augusta Blvd,657.0,41.902997,-87.683825,41.899181,-87.672200,member
388649,6F68E6F5704E2C08,docked_bike,2020-10-06 10:04:49,2020-10-06 10:13:25,Aberdeen St & Jackson Blvd,21.0,Loomis St & Lexington St,320.0,41.877726,-87.654787,41.872187,-87.661501,member
388650,79C12697BEBF5B0A,docked_bike,2020-10-15 06:54:49,2020-10-15 07:22:23,California Ave & Altgeld St,502.0,California Ave & Altgeld St,502.0,41.926690,-87.697668,41.926690,-87.697668,casual
388651,907E10168C2F53FE,docked_bike,2020-10-16 10:29:59,2020-10-16 10:50:10,Lincoln Ave & Diversey Pkwy,152.0,Ashland Ave & Blackhawk St,333.0,41.932225,-87.658617,41.907066,-87.667252,casual
388652,A12644A5B2CA6B4E,docked_bike,2020-10-31 20:13:00,2020-10-31 20:24:28,Clark St & Newport St,632.0,Clark St & Winnemac Ave,325.0,41.944540,-87.654678,41.973348,-87.667855,casual

In [9]:
# change the data type in start station id column to float
Nov_2020['start_station_id'].astype('float64')

0         313.0
1         227.0
2         102.0
3         165.0
4         190.0
          ...
388648    658.0
388649     21.0
388650    502.0
388651    152.0
388652    632.0
Name: start_station_id, Length: 388653, dtype: float64

In [5]:
# merge the data sets into one data frame
data = [Nov_2020, Dec_2020, Jan_2021, Feb_2021, Mar_2021, Apr_2021, May_2021, Jun_2021, Jul_2021, Aug_2021, Sep_2021, Oct_2021]

In [6]:
cyclist_data = pd.concat(data)

In [7]:
cyclist_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5507771 entries, 0 to 631225
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 588.3+ MB

In [13]:
cyclist_data['start_station_name'].value_counts()

Streeter Dr & Grand Ave        82119
Michigan Ave & Oak St          45242
Wells St & Concord Ln          43699
Millennium Park                42491
Clark St & Elm St              42088
                               ...
N Damen Ave & W Wabansia St        1
Shabbona Park                      1
Kenneth Ave & 50th St              1
Whipple St & Irving Park Rd        1
St Louis Ave & 59th St             1
Name: start_station_name, Length: 817, dtype: int64

In [14]:
cyclist_data['end_station_name'].value_counts()

Streeter Dr & Grand Ave            82523
Michigan Ave & Oak St              45688
Wells St & Concord Ln              43983
Millennium Park                    43292
Clark St & Elm St                  41460
                                   ...
Lyft Driver Center Private Rack        1
Lavergne Ave & 46th St                 1
N Hampden Ct & W Diversey Ave          1
Hamlin Ave & 62nd Pl                   1
Whipple St & Irving Park Rd            1
Name: end_station_name, Length: 814, dtype: int64

In [15]:
cyclist_data['member_casual'].value_counts()

member    2980341
casual    2527430
Name: member_casual, dtype: int64

In [38]:
# add a new columns date, month, and year this will allow us to aggregare data for each day, month or year
cyclist_data['date'] = pd.to_datetime(cyclist_data['started_at'])
cyclist_data['year'] = pd.DatetimeIndex(cyclist_data['started_at']).year
cyclist_data['month'] = pd.DatetimeIndex(cyclist_data['started_at']).month
cyclist_data['day_of_week'] = pd.DatetimeIndex(cyclist_data['started_at']).weekday

In [17]:
# inspect the new data frame
cyclist_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5507771 entries, 0 to 631225
Data columns (total 17 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  date                datetime64[ns]
 14  year                int64
 15  month               int64
 16  day_of_week         int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 756.4+ MB

In [29]:
# change the data types for started at and ended at to datetime
cyclist_data['started_at'] = cyclist_data['started_at'].astype('datetime64')
cyclist_data['ended_at'] = cyclist_data['ended_at'].astype('datetime64')

In [60]:
# inspect the data frame to confirm the changes 
cyclist_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5507771 entries, 0 to 631225
Data columns (total 17 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  date                datetime64[ns]
 14  year                int64
 15  month               int64
 16  day_of_week         int64
dtypes: datetime64[ns](3), float64(4), int64(3), object(7)
memory usage: 756.4+ MB

In [30]:
# create a new calculated field ride time to get the ride lenght for each trip
cyclist_data['ride_time'] = cyclist_data['ended_at'] - cyclist_data['started_at'].shift(1)

In [32]:
# inspect the new data frame
cyclist_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_time
0,ACB6B40CF5B9044C,electric_bike,2020-10-31 19:39:43,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313.0,Rush St & Hubbard St,125.0,41.926101,-87.638977,41.890345,-87.626068,casual,NaT
1,DF450C72FD109C01,electric_bike,2020-10-31 23:50:08,2020-11-01 00:04:16,Southport Ave & Waveland Ave,227.0,Kedzie Ave & Milwaukee Ave,260.0,41.948172,-87.663911,41.929528,-87.707818,casual,0 days 04:24:33
2,B6396B54A15AC0DF,electric_bike,2020-10-31 23:00:01,2020-10-31 23:08:22,Stony Island Ave & 67th St,102.0,University Ave & 57th St,423.0,41.773462,-87.585372,41.791455,-87.600050,casual,-1 days +23:18:14
3,44A4AEE261B9E854,electric_bike,2020-10-31 22:16:43,2020-10-31 22:19:35,Clark St & Grace St,165.0,Broadway & Sheridan Rd,256.0,41.950855,-87.659244,41.952809,-87.650103,casual,-1 days +23:19:34
4,10B7DD76A6A2EB95,electric_bike,2020-10-31 19:38:19,2020-10-31 19:54:32,Southport Ave & Wrightwood Ave,190.0,Stave St & Armitage Ave,185.0,41.928857,-87.663962,41.917777,-87.691434,casual,-1 days +21:37:49

In [22]:
# checking for missing values
cyclist_data.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    607353
start_station_id      607557
end_station_name      655353
end_station_id        655509
start_lat                  0
start_lng                  0
end_lat                 5021
end_lng                 5021
member_casual              0
date                       0
year                       0
month                      0
day_of_week                0
ride_time                  1
dtype: int64

In [30]:
# sort the data frame by missing values 
cyclist_data.isnull().sort_values(by ="start_station_name",ascending = False)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,year,month,day_of_week,ride_time
533704,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False
809784,False,False,False,False,True,True,True,True,False,False,False,False,False,False,False,False,False,False
809618,False,False,False,False,True,True,True,True,False,False,False,False,False,False,False,False,False,False
809619,False,False,False,False,True,True,True,True,False,False,False,False,False,False,False,False,False,False
809620,False,False,False,False,True,True,True,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152919,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
152918,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
152917,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
152916,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
631225,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [27]:
import datetime

In [38]:
# remove unwanted columns
cyclist_data = cyclist_data.drop(['start_lat','start_lng','end_lat','end_lng'], axis=1)

KeyError: "['start_lat' 'start_lng' 'end_lat' 'end_lng'] not found in axis"

In [33]:
# inspect the data frame 
cyclist_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,date,year,month,day_of_week,ride_time
0,ACB6B40CF5B9044C,electric_bike,2021-11-25 18:01:31.583002,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313.0,Rush St & Hubbard St,125.0,casual,2020-10-31 19:39:43,2020,10,31,NaT
1,DF450C72FD109C01,electric_bike,2021-11-25 18:01:31.583002,2020-11-01 00:04:16,Southport Ave & Waveland Ave,227.0,Kedzie Ave & Milwaukee Ave,260.0,casual,2020-10-31 23:50:08,2020,10,31,0 days 04:24:33
2,B6396B54A15AC0DF,electric_bike,2021-11-25 18:01:31.583002,2020-10-31 23:08:22,Stony Island Ave & 67th St,102.0,University Ave & 57th St,423.0,casual,2020-10-31 23:00:01,2020,10,31,-1 days +23:18:14
3,44A4AEE261B9E854,electric_bike,2021-11-25 18:01:31.583002,2020-10-31 22:19:35,Clark St & Grace St,165.0,Broadway & Sheridan Rd,256.0,casual,2020-10-31 22:16:43,2020,10,31,-1 days +23:19:34
4,10B7DD76A6A2EB95,electric_bike,2021-11-25 18:01:31.583002,2020-10-31 19:54:32,Southport Ave & Wrightwood Ave,190.0,Stave St & Armitage Ave,185.0,casual,2020-10-31 19:38:19,2020,10,31,-1 days +21:37:49

In [36]:
# get the value counts for each station
cyclist_data['start_station_name'].value_counts()

Streeter Dr & Grand Ave        82119
Michigan Ave & Oak St          45242
Wells St & Concord Ln          43699
Millennium Park                42491
Clark St & Elm St              42088
                               ...
N Damen Ave & W Wabansia St        1
Shabbona Park                      1
Kenneth Ave & 50th St              1
Whipple St & Irving Park Rd        1
St Louis Ave & 59th St             1
Name: start_station_name, Length: 817, dtype: int64

In [16]:
# remove empty records
cyclist_data = cyclist_data[cyclist_data['start_station_name'].notna()]

In [17]:
# inspect the new data frame
cyclist_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4900418 entries, 0 to 631225
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 523.4+ MB

## Step 3 Analyze the data